{% load format_utils %}

<div class="avoid-break">
  <table class="table sig-table">
    <tbody>
      <tr>
        <td class="sig-col1">Date:</td>
        <td class="sig-col2 underline"></td>
        <td class="sig-col3"></td>
        <td class="sig-col4 underline"></td>
        <td class="sig-col3"></td>
        <td class="sig-col5 underline"></td>
      </tr>
      <tr>
        <td class="sig-col1"></td>
        <td class="sig-col2 sig-line-text">[dd/mmm/yyyy]</td>
        <td class="sig-col3"></td>
        <td class="sig-col4 sig-line-text">
          <p>Signature of</p>
          <p style="white-space: nowrap">
            {% checkbox False %} filing party
            {% checkbox False %} lawyer for filing party(ies)
          </p>
        </td>
        <td class="sig-col3"></td>
        <td class="sig-col5 sig-line-text">
          <p>[Print name]<p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
