{% extends 'base.html' %}

{% block title %}{{ block.super }}: Qualified{% endblock %}
{% block container_col %}success-page{% endblock %}

{% block content %}

<h1 class="checkmark">You have met the conditions for using the Online Divorce Assistant</h1>
<div class="question-well">
    <h3>1. Gather your documents</h3>
    <p>You will need the following documents to move forward with the divorce request:</p>
    <ul>
        <li>Marriage certificate</li>
        <li>{% include "partials/tooltips/forms/separation_agreement.html" %} (if applicable)</li>
        <li>{% include "partials/tooltips/court_order.html" %} (if applicable)</li>
    </ul>
</div>

<div class="question-well">
    <h3>2. Review your responsibilities</h3>
    <p>When applying for divorce, you and your spouse have certain responsibilities (duties)
    under section 7.6 of the Divorce Act (Canada). Your responsibilities include:</p>

    <p><strong>Take action in best interests of children</strong><br/>
    You and your spouse may have parenting time or decision-making responsibility
    for the children of your marriage. You may also have contact with these children
    under a contact order. This parenting time, decision-making responsibility and contact
    shall be done in the best interests of the children.</p>

    <p><strong>Protect children from conflict</strong><br/>
    Conflicts may come up during your process of getting your divorce. You and your spouse shall,
    to the best of your ability, protect children of your marriage from these conflicts.</p>

    <p><strong>Resolve matters through family dispute resolution process</strong><br/>
    Where appropriate, you and your spouse shall try to resolve the matters that may be subject
    to an order under this Act through a family dispute resolution process. This may include
    matters to do with parenting time or child support.</p>

    <p><strong>Provide complete, accurate and up-to-date information</strong><br/>
    The information you and your spouse provide for your application for divorce shall be complete,
    accurate and up-to-date.</p>

    <p><strong>Comply with orders</strong><br/>
    If you and your spouse are subject to an order made under this Act, you and your spouse shall
    comply with the order until it is no longer in effect.</p>

    <p>You and your spouse will be required to certify your understanding of these responsibilities
    by signing a Party’s Certificate during the application process.</p>
</div>

<div class="question-well">
<h3>3. Register or Login</h3>
<p>
    You will need a <strong>Basic BCeID</strong><!-- or <strong>BC Services Card</strong>--> account to access the Online Divorce Assistant.
    This will also enable you to securely access multiple other online government services.
</p>

<div class="success-buttons">
    <div class="flex-row" id="bcId" style="width:45%">
        <h3>Register for a Basic BCeID</h3>
        <p>Once you register, you’ll be taken back to this website.</p>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'register' %}">
            Register
        </a>
    </div>
    <!--
    <div class="flex-row" id="scard">
        <h3>Set up your BC Services Card</h3>
        <p>Once you're set up, you’ll be taken back to this website.</p>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'register_sc' %}">
            Set Up
        </a>
    </div> -->
    <div class="flex-row" id="login" style="width:45%">
        <h3>Login with a BCeID <!--or BC Services Card--></h3>
        <p>Once you login, you’ll be taken back to this website.</p>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'oidc_authentication_init' %}">
            Login
        </a>
    </div>
</div>
</div>

{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}

{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
