{% extends 'base.html' %}
{% load format_utils %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
    <h1>Review and Print your Divorce Forms</h1>
    {% if derived.any_errors %}
        {% include "dashboard/partials/question_incomplete_warning.html" %}
    {% endif %}
    <p>
        To get divorced, you need to get a divorce order. Only the court has the
        ability to divorce a married couple. To get a court order you have to
        start a court case. On the next step you'll learn about how you can file
        the forms below along with any applicable attachments at a {% include "partials/tooltips/court_registry.html" %}.
    </p>

    <p>
        <a href="{% url 'dashboard_nav' 'help_saving_pdf' %}">Get help opening and saving PDF forms</a> |
        <a href="#" class="info-modal">Changing my forms</a>
    </p>

    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF1"
             aria-controls="collapseF1">
            <div>
                <span>Notice of Joint Family Claim Form (F1)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '1' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                Review and Print
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF1">
            <div>
                <p>
                    The Notice of Joint Family Claim Form (F1) is a document that
                    starts the court file for your divorce. It states the grounds
                    for the divorce and gives information about you and your spouse,
                    as well as the details about your marriage and separation.
                </p>
            </div>
        </div>
    </div>

    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
            aria-expanded="false" data-target="#collapseFPCy"
            aria-controls="collapseFPCy">
            <div>
                <span>Party’s Certificate - to be signed by you</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' 'PC_claimant1' %}" class="btn btn-primary spinner"
                target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                Review, Print &amp; Sign
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseFPCy">
            <div>
                <p>
                    As part of starting the court file for your divorce through the Notice of Joint Family Claim Form (F1), 
                    you need to certify that you are aware of your duties under the Divorce Act (Canada) by completing the Party’s Certificate.
                </p>
                <p>
                    This form is created automatically by this tool.
                </p>
            </div>
        </div>
    </div>
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
                aria-expanded="false" data-target="#collapseFPCs"
                aria-controls="collapseFPCs">
            <div>
                <span>Party’s Certificate - to be signed by your spouse</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' 'PC_claimant2' %}" class="btn btn-primary spinner"
                target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                Review, Print &amp; Sign
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseFPCs">
            <div>
                <p>
                    As part of starting the court file for your divorce through the Notice of Joint Family Claim Form (F1), 
                    your spouse needs to certify that they are aware of their duties under the Divorce Act (Canada) by completing the Party’s Certificate.
                </p>
                <p>
                    This form is created automatically by this tool.
                </p>
            </div>
        </div>
    </div>
    
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF35"
             aria-controls="collapseF35">
            <div>
                <span>Requisition Form (F35)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '35' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                Review and Print
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF35">
            <div>
                <p>
                    This form tells the court that you are asking for an order
                    (decision) from a judge. The Requisition also tells the court
                    what documents you’re providing to support your application.
                </p>
            </div>
        </div>
    </div>
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF36"
             aria-controls="collapseF36">
            <div>
                <span>Certificate of Pleadings Form (F36)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '36' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                Review and Print
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF36">
            <div>
                <p>
                    The only details you need to provide on the Certificate of
                    Pleadings form (F36) are your name and your spouse's name. The
                    Court Registrar uses this form to tell you if all your documents
                    are in order. If something is missing or you’ve filled in the
                    form incorrectly, he or she will let you know using this form.
                </p>
                <p>
                    Take the Certificate to the court registry where you filed your
                    Notice of Trial. After you file it, the registrar will search
                    the file and sign and return the Certificate to you. If
                    something's missing, the registrar won't sign the Certificate
                    and will let you know.
                </p>
                <p>
                    If everything is in order, the Registrar will sign the
                    Certificate of Pleadings to show the judge that they've checked
                    everything over. All of your document will be sent to the judge
                    for review.
                </p>
            </div>
        </div>
    </div>
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF52"
             aria-controls="collapseF52">
            <div>
                <span>Draft Final Order Form (F52)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '52' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                Review, Print &amp; Sign
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF52">
            <div>
                <p>
                    A draft Final Order sets out what orders (decision) you want the
                    court to make. You and your spouse are responsible for writing
                    out the order. The judge or master who reviews your case doesn't
                    write the order. The final order you draft will become your
                    divorce order, once the judge has signed it.
                </p>
                <ul>
                    <li>
                        <a href="https://familylaw.lss.bc.ca/resources/fact_sheets/tipsForDraftingOrders.php"
                           target="_blank">Write draft order</a>
                        - List what orders you want the court to make.
                    </li>
                    <li><b>File draft order</b> when you file the other forms and
                        documents at the court registry
                    </li>
                    <li>If the judge or master makes the order you ask for, they'll
                        sign the draft order you filed and it becomes your court
                        order.
                    </li>
                    <li><b>If there's a problem</b> with your order and the judge or
                        master doesn't approve it, the court registry will let you
                        know. You might have to draft another version of the order or
                        appear in court to give the judge or master more information
                        about what you wrote in the order.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% if derived.f102_required %}
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                aria-expanded="false" data-target="#collapseF102y"
                aria-controls="collapseF102y">
                <div>
                    <span>Statement of Information for Corollary Relief Proceedings (F102) - to be signed by you</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '102_claimant1' %}" class="btn btn-primary spinner"
                target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                    Review, Print &amp; Sign
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF102y">
                <div>
                    <p>
                        This form provides information about legal orders and proceedings from the criminal justice 
                        system, the child protection system and the family justice system that should be considered 
                        by the court.
                    </p>
                </div>
            </div>
        </div>

        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                aria-expanded="false" data-target="#collapseF102s"
                aria-controls="collapseF102s">
                <div>
                    <span>Statement of Information for Corollary Relief Proceedings (F102) - to be signed by your spouse</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '102_claimant2' %}" class="btn btn-primary spinner"
                target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                    Review, Print &amp; Sign
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF102s">
                <div>
                    <p>
                        This form provides information about legal orders and proceedings from the criminal justice 
                        system, the child protection system and the family justice system that should be considered 
                        by the court.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}


    {% if how_to_file == 'Online' and marriage_certificate_in_english == 'NO' %}
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                aria-expanded="false" data-target="#collapseF96t"
                aria-controls="collapseF96t">
                <div>
                    <span>
                        Electronic Filing Statement (F96) for your Affadivit of Translation
                    </span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '96_translation' %}" class="btn btn-primary spinner"
                target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                    Review, Print &amp; Sign
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF96t">
                <div>
                    <p>
                        This form is used to confirm that the document you are filing electronically
                        shows your original signature and is a true copy of the original paper
                        version of the document.
                    </p>
                    <p>
                        - Requires signature by you only (but not a signature in front of a commissioner)
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    {% if how_to_sign == 'Together' %}
        {% if derived.has_children_of_marriage %}
            <div class="review-well clearfix">
                <div class="collapse-trigger collapsed" data-toggle="collapse"
                     aria-expanded="false" data-target="#collapseF37"
                     aria-controls="collapseF37">
                    <div>
                        <span>Child Support Affidavit (F37) - signing together</span>
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '37' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>
                        Review, Print &amp; Swear
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseF37">
                    <div>
                        <p>$40 per affidavit (if sworn at a court registry)</p>
                        <p>
                            Since your divorce won't require an appearance before a judge, you must fill out and
                            {% include "partials/tooltips/swear_affirm.html" %}
                            a Child Support {% include "partials/tooltips/affidavit.html" with text='Affidavit' %}
                            Form (F37). This document gives information about the children and child support.
                        </p>
                        <p>
                            You'll notice that some of the information in the affidavit is the same as what's in your Notice of
                            Joint Family Claim Form (F1). Because the Notice of Joint Family Claim is not a sworn document, and
                            the judge / master must have sworn evidence to make a decision, you must swear or affirm that the
                            information in these affidavits is true.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                 aria-expanded="false" data-target="#collapseF38"
                 aria-controls="collapseF38">
                <div>
                    <span>Affidavit Desk Order Divorce Form (F38) - to be signed / sworn together</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '38' %}" class="btn btn-primary spinner"
                   target="_blank"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>
                    Review, Print &amp; Swear
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF38">
                <div>
                    <p>$40 per affidavit (if sworn at a court registry)</p>
                    <p>
                        Since your divorce won't require an appearance before a judge,
                        you must fill out and {% include "partials/tooltips/swear_affirm.html" %}
                        an {% include "partials/tooltips/affidavit.html" with text='Affidavit' %}
                        Desk Order Divorce Form (F38). This document sets out the facts
                        of your marriage and separation.
                    </p>
                </div>
            </div>
        </div>
    {% elif how_to_sign == 'Separately' %}
        {% if derived.has_children_of_marriage %}
            <div class="review-well clearfix">
                <div class="collapse-trigger collapsed" data-toggle="collapse"
                     aria-expanded="false" data-target="#collapseF37y"
                     aria-controls="collapseF37y">
                    <div>
                        <span>Child Support Affidavit (F37) - to be signed / sworn by you</span>
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '37_claimant1' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>
                        Review, Print &amp; Swear
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseF37y">
                    <div>
                        <p>$40 per affidavit (if sworn at a court registry)</p>
                        <p>
                            Since your divorce won't require an appearance before a judge, you must fill out and
                            {% include "partials/tooltips/swear_affirm.html" %}
                            a Child Support {% include "partials/tooltips/affidavit.html" with text='Affidavit' %}
                            Form (F37). This document gives information about the children and child support.
                        </p>
                        <p>
                            You'll notice that some of the information in the affidavit is the same as what's in your Notice of
                            Joint Family Claim Form (F1). Because the Notice of Joint Family Claim is not a sworn document, and
                            the judge / master must have sworn evidence to make a decision, you must swear or affirm that the
                            information in these affidavits is true.
                        </p>
                    </div>
                </div>
            </div>
            <div class="review-well clearfix">
                <div class="collapse-trigger collapsed" data-toggle="collapse"
                     aria-expanded="false" data-target="#collapseF37s"
                     aria-controls="collapseF37s">
                    <div>
                        <span>Child Support Affidavit (F37) - to be signed / sworn by your spouse</span>
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '37_claimant2' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>
                        Review, Print &amp; Swear
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseF37s">
                    <div>
                        <p>$40 per affidavit (if sworn at a court registry)</p>
                        <p>
                            Since your divorce won't require an appearance before a judge, you must fill out and
                            {% include "partials/tooltips/swear_affirm.html" %}
                            a Child Support {% include "partials/tooltips/affidavit.html" with text='Affidavit' %}
                            Form (F37). This document gives information about the children and child support.
                        </p>
                        <p>
                            You'll notice that some of the information in the affidavit is the same as what's in your Notice of
                            Joint Family Claim Form (F1). Because the Notice of Joint Family Claim is not a sworn document, and
                            the judge / master must have sworn evidence to make a decision, you must swear or affirm that the
                            information in these affidavits is true.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                 aria-expanded="false" data-target="#collapseF38y"
                 aria-controls="collapseF38y">
                <div>
                    <span>Affidavit Desk Order Divorce Form (F38) - to be signed / sworn by you</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '38_claimant1' %}" class="btn btn-primary spinner"
                   target="_blank"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>
                    Review, Print &amp; Swear
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF38y">
                <div>
                    <p>$40 per affidavit (if sworn at a court registry)</p>
                    <p>
                        Since your divorce won't require an appearance before a judge,
                        you must fill out and {% include "partials/tooltips/swear_affirm.html" %}
                        an {% include "partials/tooltips/affidavit.html" with text='Affidavit' %}
                        Desk Order Divorce Form (F38). This document sets out the facts
                        of your marriage and separation.
                    </p>
                </div>
            </div>
        </div>
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                 aria-expanded="false" data-target="#collapseF38s"
                 aria-controls="collapseF38s">
                <div>
                    <span>Affidavit Desk Order Divorce Form (F38) - to be signed / sworn by your spouse</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '38_claimant2' %}" class="btn btn-primary spinner"
                   target="_blank"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>
                    Review, Print &amp; Swear
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF38s">
                <div>
                    <p>$40 per affidavit (if sworn at a court registry)</p>
                    <p>
                        Since your divorce won't require an appearance before a judge,
                        you must fill out and {% include "partials/tooltips/swear_affirm.html" %}
                        an {% include "partials/tooltips/affidavit.html" with text='Affidavit' %}
                        Desk Order Divorce Form (F38). This document sets out the facts
                        of your marriage and separation.
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <h2>You must select whether you are signing together or separately in the
            <a href="{% url 'dashboard_nav' 'sign_file_options' %}">Signing and Filing Options</a> step.</h2>
    {% endif %}

    {% if how_to_file == 'Online' %}
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                 aria-expanded="false" data-target="#collapseF96y"
                 aria-controls="collapseF96y">
                <div>
                    <span>Electronic Filing Statement (F96) for above Affidavits - to be signed by you</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '96_claimant1' %}" class="btn btn-primary spinner"
                   target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                    Review, Print &amp; Sign
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF96y">
                <div>
                    <p>
                        This form is used to confirm that the documents you are filing electronically show your original 
                        signature and are true copies of the original paper version of the documents.
                    </p>
                    <p>
                        This form is created automatically by this tool.
                    </p>
                </div>
            </div>
        </div>
        {% if how_to_sign == 'Separately' %}
            <div class="review-well clearfix">
                <div class="collapse-trigger collapsed" data-toggle="collapse"
                     aria-expanded="false" data-target="#collapseF96s"
                     aria-controls="collapseF96s">
                    <div>
                        <span>Electronic Filing Statement (F96) for above Affidavits - to be signed by your spouse</span>
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '96_claimant2' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                        Review, Print &amp; Sign
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseF96s">
                    <div>
                        <p>
                            This form is used to confirm that the documents you are filing electronically show 
                            your spouse’s original signature and are true copies of the original paper version of the documents.
                        </p>
                        <p>
                            This form is created automatically by this tool.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    
    <h3>Additional Required Documentation</h3>
    <p>The following documents are required as part of your filing but are not created automatically by this site:</p>

    {% if original_marriage_certificate == 'YES' %}
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
        aria-expanded="false" data-target="#collapsePoM"
        aria-controls="collapseF30">
        <div>
            <span>Proof of Marriage - Original or certified Marriage Certificate or Registration of Divorce.</span>
        </div>
        </div>
        <p class="review-buttons">
            <span>
                Have Ready to Scan
            </span>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapsePoM">
            <div>
                <p>
                    To get a divorce, you need an original marriage certificate or certified true copy of your registration of marriage to prove you are married. 
                    There are other options described in this tool if you can't get a copy of your marriage certificate or registration of marriage.
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    {% if marriage_certificate_in_english == 'NO' %}
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
        aria-expanded="false" data-target="#collapseF30"
        aria-controls="collapseF30">
        <div>
            <span>Affidavit of Translation (F30)</span>
        </div>
        </div>
        <p class="review-buttons">
            <span>
                Have Ready to Scan
            </span>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF30">
            <div>
                <p>
                    The Affidavit of Translation is sworn by a translator before a notary, lawyer or commissioner for taking Affidavits.
                </p>
                <p>
                    When filing, the original certificate of marriage should be included with the Affidavit of Translation and the translation of the certificate.
                </p>
                <p>
                    This form is required when your Proof of Marriage is not in English.
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    {% if original_marriage_certificate == 'NO' %}
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed review-well-small" data-toggle="collapse"
        aria-expanded="false" data-target="#collapseF30NMC"
        aria-controls="collapseF30NMC">
            <div>
                <span>Affidavit of No Marriage Certificate (F30) - requires <a href="https://justice.gov.bc.ca/divorce/dashboard/help_saving_pdf" target="_blank">Adobe Acrobat Reader</a></span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="https://www2.gov.bc.ca/assets/gov/law-crime-and-justice/courthouse-services/court-files-records/court-forms/supreme-family/f30.pdf?forcedownload=true" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                        Complete, Swear &amp; Sign
                    </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF30NMC">
            <div>
                <p>
                    If it is impossible to get a certificate of marriage or certified copy of the registration of marriage,
                    you will need a person who was present at the marriage ceremony (usually the officiant or a witness to the marriage)
                    to complete the affidavit. You will need to file the affidavit as evidence of the marriage.
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
        aria-expanded="false" data-target="#collapseJUS280"
        aria-controls="collapseJUS280">
            <div>
                <span>Registration of Divorce (JUS280) - requires completion on the Government of Canada's site</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="https://www.justice.gc.ca/eng/fl-df/divorce/form-formulaire.html" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                Complete
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseJUS280">
            <div>
                <p>
                    This form is for the central divorce registry in Ottawa. They use the form to ensure there is no other divorce proceeding pending in Canada. They also keep track of all divorces in Canada.
                </p>
                <p>
                    This form requires you to complete it either by hand or using <a href="https://justice.gov.bc.ca/divorce/dashboard/help_saving_pdf" target="_blank">Adobe Acrobat Reader</a>.
                </p>
            </div>
        </div>
    </div>

    {% if derived.wants_other_orders %}
        {% if name_change_you == 'YES' or name_change_spouse == 'YES' %}
            {% if name_change_you == 'YES' %}
            <div class="review-well clearfix">
                <div class="collapse-trigger collapsed" data-toggle="collapse"
                aria-expanded="false" data-target="#collapseVSA512C1"
                aria-controls="collapseVSA512C1">
                    <div>
                        <span>Identification of Applicant (VSA 512) - For Claimant 1 ({% you_name %})</span>
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="https://www2.gov.bc.ca/assets/gov/health/forms/vital-statistics/vsa512.pdf" class="btn btn-primary spinner"
                    target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                        Complete &amp; Print
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseVSA512C1">
                    <div>
                        <p>
                            This form is used by the Court to notify Vital Statistics of court-ordered legal changes of name.
                        </p>
                        <p>
                            This form requires you to complete it either by hand or using <a href="https://justice.gov.bc.ca/divorce/dashboard/help_saving_pdf" target="_blank">Adobe Acrobat Reader</a>.
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if name_change_spouse == 'YES' %}
            <div class="review-well clearfix">
                <div class="collapse-trigger collapsed" data-toggle="collapse"
                aria-expanded="false" data-target="#collapseVSA512C2"
                aria-controls="collapseVSA512C2">
                    <div>
                        <span>Identification of Applicant (VSA 512) - For Claimant 2 ({% spouse_name %})</span>
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="https://www2.gov.bc.ca/assets/gov/health/forms/vital-statistics/vsa512.pdf" class="btn btn-primary spinner"
                    target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                        Complete &amp; Print
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseVSA512C2">
                    <div>
                        <p>
                            This form is used by the Court to notify Vital Statistics of court-ordered legal changes of name.
                        </p>
                        <p>
                            This form requires you to complete it either by hand or using <a href="https://justice.gov.bc.ca/divorce/dashboard/help_saving_pdf" target="_blank">Adobe Acrobat Reader</a>.
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if derived.has_children_of_marriage %}
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed"  data-toggle="collapse"
        aria-expanded="false" data-target="#collapseF9"
        aria-controls="collapseF9">
            <div>
                <span>Agreement as to Annual Income (F9) - requires <a href="https://justice.gov.bc.ca/divorce/dashboard/help_saving_pdf" target="_blank">Adobe Acrobat Reader</a></span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="https://www2.gov.bc.ca/assets/gov/law-crime-and-justice/courthouse-services/court-files-records/court-forms/supreme-family/f9.pdf?forcedownload=true" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i>
                Complete &amp; Print
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF9">
            <div>
                <p>
                    This form needs to be provided to the Registry as they require it as it is required when reviewing your divorce application. It shows the judge that your application has been checked and is complete.
                </p>
                <p>
                    This form requires you to complete it either by hand or using <a href="https://justice.gov.bc.ca/divorce/dashboard/help_saving_pdf" target="_blank">Adobe Acrobat Reader</a>.
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    

    <div id="info_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <h1 class="modal-title">Changing your forms</h1>
                </div>
                <div class="modal-body">
                    <p>
                        If you need to make changes to your forms, you can return to the
                        <a href="{% url 'question_steps' 'review' %}">Divorce Questionnaire</a>
                        section to review and update your answers.
                        You will then need to Review and Print your forms again.
                    </p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block backToDashboard %}
<!-- no back to dashboard -->
{% endblock %}

{% block formBack %}{% url 'dashboard_nav' 'sign_file_options' %}{% endblock %}
{% block formNext %}
    {% if how_to_file == 'Online' %}
        {% url 'dashboard_nav' 'initial_filing' %}
    {% else %}
        {% url 'dashboard_nav' 'swear_forms' %}
    {% endif %}
{% endblock %}

{% block sidebarText %}
    <h3>Completed Forms</h3>
    <p>
        If you're not sure whether you've filled out the documents correctly, get some
        <a href="https://familylaw.lss.bc.ca/help/who_LegalAdvice.php" target="_blank">legal advice</a> before you file your documents — from
        <a href="https://familylaw.lss.bc.ca/help/who_FamilyDutyCounsel.php" target="_blank">family duty counsel</a>
        or (in Vancouver) from the Vancouver
        <a href="https://familylaw.lss.bc.ca/help/jacSelfHelpAndInfoServices.php" target="_blank">Justice Access Centre</a> Self-Help and
        Information Services.
    </p>
    <h3>Signing, Swearing and Completing Forms</h3>
    <p>
        This page lists all of the forms needed to file for divorce.
        Each form indicates what you'll need to do to get it ready for filing
        (submitting to the Court Registry).
    </p>
    <p>
        Those forms that require <b>Reviewing and Printing</b> are automatically created
        based on your answers in the questionnaire portion of this tool.
        Assuming the content is correct, they should be ready for filing without additional work.
    </p>
    <p>
        Those that require <b>Reviewing, Printing and Signing</b> have also been automatically
        created based on your answers in the questionnaire portion of this tool but they do
        require you and your spouse's signature before filing.
    </p>
    <p>
        Those that require <b>Reviewing, Printing and Swearing</b> have been created for you based
        on your answers in the questionnaire but must be sworn / affirmed in front of a commissioner.
        You can learn more about this process on the Swear Forms step of this tool.
    </p>
    <p>
        The remaining <b>Additional Documents</b> are not created by this tool but are additional
        documents that will be required. You must complete the forms and attach them to your
        filing.
    </p>
{% endblock %}
