{% extends "partials/tooltips/base.html" %}

{% block title %}
    Court File Number
{% endblock %}

{% block inner %}
    This is the filing number you will use on your documents through out your family law case. 
    If your spouse filed before you, you will need to obtain the Court File Number from them.
    If unknown, please check with your spouse before entering your Court File Number.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Court File Number{% endif %}
{% endblock %}