{% extends "partials/tooltips/base.html" %}

{% block title %}
    Agreement as to Annual Income (F9)
{% endblock %}

{% block inner %}
    This form needs to be provided to the Registry as they require it as it is required when reviewing your divorce application. 
    It shows the judge that your application has been checked and is complete.
    <br/><br/>
    This form requires you to complete it either by hand or using <a href="https://justice.gov.bc.ca/divorce/dashboard/help_saving_pdf" target="_blank">Adobe Acrobat Reader</a>.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Agreement as to Annual Income (F9){% endif %}
{% endblock %}