{% extends "partials/tooltips/base.html" %}

{% block title %}
    Certificate of Pleadings Form (F36)
{% endblock %}

{% block inner %}
    This form is used by the Deputy District Registrar who reviews your divorce application to tell the Judge if you have all the required documents and information to grant a divorce.
    <br/><br/>
    This form is created automatically by this tool.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Certificate of Pleadings Form (F36){% endif %}
{% endblock %}