{% extends "partials/tooltips/base.html" %}

{% block title %}
    Child Support Affidavit (F37)
{% endblock %}

{% block inner %}
    <p>
        This form gives facts about your children and child support, including the order you're asking the court for. 
        You must also attach your separation agreement or court orders about children to this form as exhibits if you have children. 
    </p>
    <p>
        Since your divorce won't require an appearance before a judge, you must fill out and swear / affirm a Child Support Affidavit Form (F37). This document gives information about the children and child support.
    </p>
    <p>
        You'll notice that some of the information in the affidavit is the same as what's in your Notice of Joint Family Claim Form (F1). Because the Notice of Joint Family Claim is not a sworn document, 
        and the judge / master must have sworn evidence to make a decision, you must swear or affirm that the information in these affidavits is true.
    </p>
    <p>
        The fee for swearing / affirming this document is $40 per affidavit if sworn at a court registry.
    </p>
    <br/><br/>
    This form is created automatically by this tool.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Child Support Affidavit (F37){% endif %}
{% endblock %}