{% extends "partials/tooltips/base.html" %}

{% block title %}
    Affidavit - Desk Order Divorce Form (F38)
{% endblock %}

{% block inner %}
    <p>This form sets out all the facts of your marriage and separation for the court and gives information about parenting time if you have children.</p>
    <p>Since your divorce won't require an appearance before a judge, you must fill out and swear / affirm an Affidavit Desk Order Divorce Form (F38). This document sets out the facts of your marriage and separation.</p>
    <p>The fee for swearing / affirming this document is $40 per affidavit if sworn at a court registry.</p>
    <br/><br/>
    This form is created automatically by this tool.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Affidavit — Desk Order Divorce Form (F38){% endif %}
{% endblock %}