{% extends "partials/tooltips/base.html" %}

{% block title %}
    Draft Final Order Form (F52)
{% endblock %}

{% block inner %}
    A draft Final Order sets our what orders (decision) you want the court to make. You and your spouse are responsible for writing out the order. 
    The judge or master who reviews your case doesn't write the order. The final order you draft will become your divorce order, once the judge has signed it.
    
    <ul>
        <li>
            <a href="https://familylaw.lss.bc.ca/resources/fact_sheets/tipsForDraftingOrders.php" target="_blank">Write draft order</a> - List what orders you want the court to make.
        </li>
        <li>
            <b>File draft order</b> when you file the other forms and documents at the court registry
        </li>
        <li>
            If the judge or master makes the order you ask for, they'll sign the draft order you filed and it becomes your court order.
        </li>
        <li>
            If there's a problem with your order and the judge or master doesn't approve it, the court registry will let you know. 
            You might have to draft another version of the order or appear in court to give the judge or master more information about what you wrote in the order.
        </li>
    </ul>
    <br/><br/>
    This form is created automatically by this tool.
    
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Draft Final Order Form (F52){% endif %}
{% endblock %}