{% extends "partials/tooltips/base.html" %}

{% block title %}
    Statement of Information for Corollary Relief Proceedings (F102)
{% endblock %}

{% block inner %}
    This form is required under the Supreme Court Family Rules and provides information about
    legal proceedings or orders from civil proceedings, child protection proceedings and criminal
    proceedings that should be considered by the court.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Statement of Information for Corollary Relief Proceedings (F102){% endif %}
{% endblock %}