{% extends "partials/tooltips/base.html" %}

{% block title %}
    Statement of Information for Corollary Relief Proceedings (F102)
{% endblock %}

{% block inner %}
This form provides information about legal orders and proceedings from the criminal justice system, the child protection system and the family justice system that should be considered by the court.
<br /><br />
This form is created automatically by this tool.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Statement of Information for Corollary Relief Proceedings (F102){% endif %}
{% endblock %}